<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WPF.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<WPF.UserSettings>
			<setting name="DefaultUsername" serializeAs="String">
				<value>admin</value>
			</setting>
			<setting name="DefaultPassword" serializeAs="String">
				<value>Admin123!</value>
			</setting>
			<setting name="SettingsSaved" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ApiUrl" serializeAs="String">
				<value>http://localhost:5258/</value>
			</setting>
		</WPF.UserSettings>
	</userSettings>
</configuration>